# Python bytecode
__pycache__/
*.py[cod]

# Large Data files
*.csv
!thesis_final_deepeval_scores.csv
!ir_metrics_summary.csv
!ir_metrics_detailed.csv
!evaluation_results.csv
!nlg_evaluation_results.csv
!stat_results_summary.csv

*.mp4
*.png

# Environments
venv/
.env

# Folders for results or archives
archive/
results/
results_benchmark/
thesis_db/
RAG/thesis_db/
RAG/ragas_venv/

5G-NIDD_results_log.txt
5GC_PFCP_results_log.txt
5GAD_results_log.txt

# Local Vector Database
RAG/thesis_db/
RAG/ragas_venv/
